* {
    box-sizing: border-box;
  }
  
  :root {
    --background-white: #fff5e0;
    --basic-text-color: #141e46;
    --special-color: #c70039;
    --special-color-lighter: #ff6969;
    --special-text-color: #fff5e0;
    --page-padding: 7px;
    --item-border: 1.5px;
    --item-border-style: solid;
    --item-border-color: #141e46;
  }
  
  body {
    background-color: var(--background-white);
    color: var(--basic-text-color);
    padding: 20px;
  }

/* CSS */
/* .pokemon-list-button {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 5px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .pokemon-list-button:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .pokemon-list-button:hover:after {
    top: 0px;
    left: 0px;
  }
  
  @media (min-width: 768px) {
    .pokemon-list-button {
      padding: 13px 50px 13px;
    }
  } */

/* 
#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; 
  overflow: auto; 
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

.modal img {
  float: left;
} */